* {
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    background-color: black;
  }

  #books{

    display: flex;
    align-items: center;
    background:black;
   
  }
  #books_img{
    width: 80px;
    height:80px;
    background: black;
    border-radius: 30%;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  
    
  }
  #books h1{
    color: white;
    margin-left: 4px;
    font-family: 'Antonio', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Cabin', sans-serif;
    font-family: 'Noto Sans Old Permic', sans-serif;
    font-family: 'Noto Sans Shavian', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color:#fec748;
  }
  
  #signUp{
    margin-left: 68vw;
    margin-right: 18px;
    color: white ; 
    background: black;
    height: 40px;
    width: 140px;
    border: 2px solid #fec748;
    border-radius: 40px;
    font-family: 'Antonio', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Cabin', sans-serif;
    font-family: 'Noto Sans Old Permic', sans-serif;
    font-family: 'Noto Sans Shavian', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 580;
    font-size: 15px;
  /* text-decoration: none; */
    
  
  }
  #signUp a{
    text-decoration: none;
    /* color: white; */
  }
  #signUp:hover{
    background-color: #fec748;
    color: black;
  }
  @media screen and (max-width: 1200px) {
    #signUp{
     visibility: hidden;
     margin-left: 0px;
    }
  }
  
  .topnav {
    background:black;
    overflow: hidden;
    border: 2px solid #fec748;
    width: fit-content;
    
  }
  
  
  .topnav a {
    float: left;
    /* margin-top: 15px ; */
    color: white;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    font-size: 17px;
   border: 1px solid #fec748;
   font-family: 'Antonio', sans-serif;
   font-family: 'Bebas Neue', sans-serif;
   font-family: 'Cabin', sans-serif;
   font-family: 'Noto Sans Old Permic', sans-serif;
   font-family: 'Noto Sans Shavian', sans-serif;
   font-family: 'Roboto', sans-serif;
  font-weight: 500;
  
  }
  
  
  .topnav a:hover {
    background-color: #fec748;
    color: black;
  }
  
  
  .topnav a.active {
    background-color: #fec748;
    color: black;
  }
.icon {
    display: none;
 
    height: 50px;

  }
  @media screen and (max-width: 670px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 670px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      border: 1px solid white;
  
    }
    .topnav{
      width: 100%;
    }
  }
  #info{
    /* text-align: center; */
    margin: auto;
  }
  

  
  #info h1{
    color:#e7a60f;
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 70px;
    font-size: 55;
    margin-left: 39%;
    text-transform: uppercase;
    text-decoration: underline;
    animation: an 1s ease-out 1 both;
  }

  @keyframes an{
    from{
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 0deg);
    }
    to{
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
  }
#info h4{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 25px;
    animation: an 1s ease-out 1 both;
    line-height: 30px;
}
@keyframes an{
  from{
      opacity: 0;
      transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 0deg);
  }
  to{
      opacity: 1;
      transform: perspective(500px) translate3d(0, 0, 0);
  }
}
@media screen and (max-width:889px) {
  #info h1{
    margin-left: 34%;
  }
  
}
@media screen and (max-width:683px) {
  #info h1{
    margin-left: 29%;
  }
  
}
@media screen and (max-width:563px) {
  #info h1{
    margin-left: 24%;
  }
  
}
@media screen and (max-width:489px) {
  #info h1{
    margin-left: 19%;
  }
}
@media screen and (max-width:427px) {
  #info h1{
    margin-left: 10%;
  }
  
}
  
  .listing-section, .cart-section {
    width: 100%;
    display: block;
    float: left;
    padding: 1%;
    
    margin-top: 10px;
   
  }
  
  .product {
    float: left;
    width: 23%;
    border-radius: 2%;
    margin: 1%;
    margin-top: 50px;
    background-color:#141414c7;
  }
  @media screen and (max-width:816px) {
    .product{
      float:none;
     margin: auto;
     margin-top: 30px;
     width: 400px;
     height: 590px;
  
    }
  
  }
  @media screen and (max-width:692px) {
    .product{
      float:none;
     margin: auto;
     margin-top: 30px;
     width: 350px;
  
    }
  
  }
  @media screen and (max-width:621px) {
    .product{
      float:none;
     margin: auto;
     margin-top: 30px;
     width: 330px;
  
    }
  
  }
  
  .product:hover {
    /* border: 3px solid red; */
    box-shadow: 3px 3px 3px 3px #e7a60f;
    -webkit-box-shadow: 3px 3px 3px 3px #e7a60f;  
    -moz-box-shadow:  3px 3px 3px 3px #e7a60f;
  }
  
  .image-box {
    width: 100%;
    /* height: 80%; */
    overflow: hidden;
    border-radius: 2% 2% 0 0;
  }
  
  .images {
    height: 350px;
    
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
    border-radius: 2% 2% 0 0;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
  }

  @media screen and (max-width:816px) {
    .images{
      height: 530px;
    }
  }
  .images:hover {
    transform: scale(1.2);
    overflow: hidden;
    border-radius: 2%;
  }
  
  /* IMAGES */
  #image-1 {background-image: url("dark knite.jpg");}
  
  #image-2 {background-image: url("inception.jpg")}
  
  #image-3 {background-image: url("seven.jpg")}
  
  #image-4 {background-image: url("silenceOf\ TheLambs.jpg")}
  
  #image-5 {background-image: url("prestige.jpg")}
  
  #image-6 {background-image: url("departed.jpg")}
  
  #image-7 {background-image: url("parasite.jpg")}
  
  #image-8 {background-image: url("proff.jpg")}
  
  #image-9 {background-image: url("psycho.jpg")}
  
  #image-10 {background-image: url("usual.jpg")}
  
  #image-11 {background-image: url("rearwindow.jpg");}
  #image-12 {background-image: url("memento.jpg");}
  #image-13 {background-image: url("darkknightrises.jpg");}
  #image-14 {background-image: url("joker.jpg");}
  #image-15 {background-image: url("aliens.jpg");}
  #image-16 {background-image: url("oldboy.jpg");}
  #image-17 {background-image: url("comeandsee.jpg");}
  #image-18 {background-image: url("thelivesofoher.jpg");}
  #image-19 {background-image: url("thewitnessoftheprosecutter.jpg");}
  #image-20 {background-image: url("highandlow.jpg");}
  
  .item{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    margin-top: 20px;
    background-color:#141414c7;
    margin-bottom: 20px;
   }

  
   #footer{
    color: white;
    margin-top: 20px;
    margin-bottom: 25px;
    display: flex;
    gap: 30px;
   
      
    
  }
  .footer-info{
    display: flex;
    gap: 30px;
    
    padding-left: 40px;
    
    }
    
  #footer h5{
    font-weight: 600;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Cabin', sans-serif;
  }
  .footers{
    text-decoration: none;
    color: white;
    
  }
  .footers:hover{
    border-bottom: 3px solid#e7a60f;
  }
  
  #after{
    margin-top: 90px;
  }
  
  .fa {
    margin-top: -3vh;
    width: 5vw;
    text-align: center;
    text-decoration: none;
   
  }
  
  
  
  .fa:hover {
    opacity: 0.4;
  }
  #social{
    margin-left: 40vw;
    
    
  }
  @media screen and (max-width:1173px) {
    #social{
      margin-left: 35vw;
      
    }
    
  }
  @media screen and (max-width:1048px) {
    #social{
      margin-left: 30vw;
      
    }
    
  }
  @media screen and (max-width:943px) {
    #social{
      margin-left: 25vw;
      
    }
    
  }
  @media screen and (max-width:857px) {
    #social{
      margin-left: 20vw;
      
    }
    
  }
  @media screen and (max-width:857px) {
    #social{
      margin-left: 20vw;
      
    }
    
  }
  @media screen and (max-width:786px) {
    #social{
      margin-left: 15vw;
      display: flex;
      justify-content: end;
      align-items: end;
      gap: 10px;
      
    }
  
    
  }
  @media screen and (max-width:725px) {
    #social{
      margin-left: 10vw;
      
    }
    
  }
  @media screen and (max-width:710px) {
    #footer{
      display: block;
    }
    #social{
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      margin-top: 60px;
      gap: 40px;
  
    }
    .footer-info{
      display: flex;
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
    }
    
  }
/* Facebook */
.fa-facebook {

  color: white;
  
}

/* Twitter */
.fa-twitter {
  background: #55acee00;
  color: white;
}

.fa-instagram {
  background: #12578800;
  color: white;
 
 
}
.fa-linkdin {
  background: #12578800;
  color: white;
  
}

